@CHARSET "UTF-8";



/* ***** ***** ***** */
/* Contenuto centrale (piantina) */
/* ***** ***** ***** */
#planContainer {
	background-color: var(--main-bg-color);
	
	float: right;
	height: 100%;
	width: 100%;
	
	/* FIXME --> guarda se da problemi */
	overflow: hidden;
}



#mainCanvas {
	background-color: var(--main-bg-color);
}